node_modules/public/storagepublic/hotstorage/*.keyvendor.ideaHomestead.jsonHomestead.yaml.envpublic/imagenes/clientes/*public/imagenes/empresa_logo/*public/imagenes/herramientas/*public/imagenes/inventory/products/*public/imagenes/portafolio/*public/imagenes/servicios/*public/imagenes/slider/*
storage/framework/sessions/

.idea/

vendor/composer/

storage/logs/

storage/framework/views/
